{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">   
       <a class="navbar-brand" href="{% url 'posts_app:main-page' %}"><img src="{% static 'images/icons_contract_64x64_sigeco.jpeg' %}" alt="SIGECO"> Posts</a>
       <button class="navbar-toggler">
        <span class="navbar-toggler-icon"></span>
       </button>
         {% if user.is_authenticated %}
           <div class="form-inline my-2 my-lg-0">
             <p class="mr-2" style="color:yellow;"> usuário: <a class="clean-link" href="#">{{ user.username }}</a></p>
             {% comment %} <a href="{% url 'logout' %}">
               <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Sair</button>
             </a> {% endcomment %}
           </div>
         {% else %}
           <p class="p-2" style="color:yellow;">Usuário não logado<p>
           <a href="{% url 'admin' %}">
             <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Entrar</button>
           </a>
           {% comment %} <a href="{% url 'register' %}">
             <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Registrar</button>
           </a> {% endcomment %}
         {% endif %}
    </div>  
</nav>